# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives**
* list of popular libraries
* list of popular tools
* popular languages

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. PANDAS 
3. TensorFlow
4. Scikit-learn
5. Seaborn
6. Matplotlib

### Data Science Tools 
| Data science tools | 
|---------| 
| Jupyter Notebook |
| IBM SPSS |
 | Julia |
| MATLAB |
 | MatplotLib |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
 (3*4)+5
   # This a simple arithmetic expression to mutiply then add integers.

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
t =200
n= t//60
m = t-n*60
print(n,'hour',m,'minute')

3 hour 20 minute

## Author

András Győrfi